@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ExpensesApp</h1>
    <p style="font-size:20px">
        To use the features of the ExpensesApp please <strong>Register</strong> and <strong>Login</strong> first.
        First of, start by making a couple <strong>Categories</strong> otherwise you won't be able to create any <strong>Transactions.</strong>
        After you made a couple Categories it's time to start creating some <strong>Transactions</strong>, insert the title, amount and date.
    </p>
</div>
<body style="background-repeat:no-repeat;background-position:center;background-image:url(../Images/pig.png)"></body>
