@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h5>If you wish to change some of your account settings press on your Email next to the Logout button.</h5>
<body style="background-attachment:fixed;background-position:center;background-repeat:no-repeat;background-image:url(../Images/lock.png)">

</body>

