@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    h1 {
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    h5 {
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .pic {
        display: flex;
        justify-content:space-evenly;
    }
</style>
<h5>If you wish to change some of your account settings press on your Email next to the Logout button.</h5>
<body>
    <br />
    <div class="pic">
        <img src="~/Images/lock.png" />
    </div>
</body>

